{% extends 'test/base.html' %}

{% block title %}
<title>Cargoshop</title>
{% endblock %}


{% block content %}
<div class="banner-main col-pre">
    <div class="banner-main__content">
        <div class="item">
            <a href="javascript:void(0);" class="d-block">
                <img src="https://pos.nvncdn.com/eb9ddb-116318/bn/20220324_DNFD3A0iWqNMEVjg7A1ZSQA7.png" alt="2">
            </a>
        </div>
        <div class="item">
            <a href="javascript:void(0);" class="d-block">
                <img src="https://pos.nvncdn.com/eb9ddb-116318/bn/20220324_Oh53NJJ4ig1sNzfa7mH5CDRp.jpg" alt="1">
            </a>
        </div>
    </div>
</div>

<div class="container-pre news_home">

    <div class="title-home__news">
        <h2 class="text-center position-relative m-0">
            <span class="d-inline-block text-uppercase font-weight-bold position-relative">Tin tức</span>
        </h2>
    </div>
    <div class="row bannerNews-home">
        <div class="col-3">
            <div class="bannerNews-home__mid-content position-relative">
                <a href="javascript:void(0);" class="d-block position-absolute">
                    <img src="https://pos.nvncdn.com/eb9ddb-116318/bn/20220324_VBDHBJlITvvfnLSDA82zbAfd.png"
                         alt="Sale">
                </a>
                <a href="javascript:void(0);"
                   class="text-center bannerNews-home__mid-name d-block position-absolute text-uppercase font-weight-bold d-inline-block">
                    Sale </a>
            </div>
        </div>
        <div class="col-6 bannerNews-home__mid">
            <div class="bannerNews-home__mid-content position-relative">
                <a href="https://nhanh.vn/" class="d-block position-absolute">
                    <img src="https://pos.nvncdn.com/eb9ddb-116318/bn/20220324_mcaT3cqwUAgK67DDOHbpAqox.png"
                         alt="About us">
                </a>
                <a href="https://nhanh.vn/"
                   class="text-center bannerNews-home__mid-name d-block position-absolute text-uppercase font-weight-bold d-inline-block">
                    About us </a>
            </div>
        </div>
        <div class="col-3">
            <div class="bannerNews-home__mid-content position-relative">
                <a href="/accessories-pc570536.html" class="d-block position-absolute">
                    <img src="https://pos.nvncdn.com/eb9ddb-116318/bn/20220324_VBDHBJlITvvfnLSDA82zbAfd.png"
                         alt="Super Sale">
                </a>
                <a href="/accessories-pc570536.html"
                   class="text-center bannerNews-home__mid-name d-block position-absolute text-uppercase font-weight-bold d-inline-block">
                    Super Sale </a>
            </div>
        </div>
    </div>

    <div class="title-home clearfix">
        <h2 class="text-center position-relative m-0">
            <span class="d-inline-block text-uppercase font-weight-bold position-relative">
                BEST SELLER            </span>
        </h2>
    </div>
    <div class="row-pre new-product">
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960630" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_uQByuMPi6VUXjd2xBG6q3hxf.jpg">
            <div class="product-item__image position-relative">
                <a href="/tat-happy-socks-stripe-p37960630.html" class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960630" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_CA21KtclAOpKKflSQsqXyGWj.jpg"
                         alt="Tất HAPPY SOCKS Stripe">
                </a>
                <a href="/tat-happy-socks-stripe-p37960630.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">30</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>
                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Tất</span>
                <a href="/tat-happy-socks-stripe-p37960630.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Tất HAPPY SOCKS Stripe </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">450.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">315.000 ₫</span>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960606" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_RnDEc5CH2aZeyddfpqTO2yGr.png">
            <div class="product-item__image position-relative">
                <a href="/kinh-gucci-shiny-black-red-p37960606.html" class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960606" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_XHh2gIQlmse66PJX3d9S3RxR.png"
                         alt="Kính Gucci Shiny Black Red">
                </a>
                <a href="/kinh-gucci-shiny-black-red-p37960606.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">10</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>
                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Kính</span>
                <a href="/kinh-gucci-shiny-black-red-p37960606.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Kính Gucci Shiny Black Red </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">4.010.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">3.590.000 ₫</span>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960592" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_E2faISiIYJ5z3vQtFmw36MWC.png">
            <div class="product-item__image position-relative">
                <a href="/kinh-gucci-havana-p37960592.html" class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960592" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_2ncyiaOEqjupKJVQ06z0420b.png"
                         alt="Kính Gucci Havana">
                </a>
                <a href="/kinh-gucci-havana-p37960592.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">10</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>
                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Kính</span>
                <a href="/kinh-gucci-havana-p37960592.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Kính Gucci Havana </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">6.100.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">5.490.000 ₫</span>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960548" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_jGkSKluHew4gf61xRpWAtJ7o.jpg">
            <div class="product-item__image position-relative">
                <a href="/ba-lo-herschel-little-america-light-rose-p37960548.html"
                   class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960548" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_V2srdt0gM0joGtdt87E9Q3Hp.png"
                         alt="Ba lô Herschel Little America Light Rose">
                </a>
                <a href="/ba-lo-herschel-little-america-light-rose-p37960548.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">30</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>
                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Herschel</span>
                <a href="/ba-lo-herschel-little-america-light-rose-p37960548.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Ba lô Herschel Little America Light Rose </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">1.163.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">814.100 ₫</span>
                </p>
            </div>
        </div>
    </div>
    <div class="text-center pt-4">
        <a href="/san-pham?show=new" class="d-inline-block font-weight-bold see-more">
            Xem tất cả <i class="fal fa-angle-right"></i>
        </a>
    </div>


    <div class="title-home">
        <h2 class="text-center position-relative m-0">
            <span class="d-inline-block text-uppercase font-weight-bold position-relative">NEW REALEASE</span>
        </h2>
    </div>
    <div class="row-pre new-product">
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960765" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_PxzDDh0nqljL3jZg1dK1NRhR.png">
            <div class="product-item__image position-relative">
                <a href="/mu-fear-of-god-essentials-rc-9fifty-cap-moonstruck-p37960765.html"
                   class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960765" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_dvWXYRWg1RNqs3sHUudkjuSk.png"
                         alt="Mũ Fear Of God Essentials RC 9Fifty Cap Moonstruck">
                </a>
                <a href="/mu-fear-of-god-essentials-rc-9fifty-cap-moonstruck-p37960765.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">30</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>

                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Mũ </span>
                <a href="/mu-fear-of-god-essentials-rc-9fifty-cap-moonstruck-p37960765.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Mũ Fear Of God Essentials RC 9Fifty Cap Moonstruck </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">1.250.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">875.000 ₫</span>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960736" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_wWdXVo7JZXEgsLyDYaljY3cm.jpg">
            <div class="product-item__image position-relative">
                <a href="/dep-mlb-logo-new-york-yankees-black-p37960736.html"
                   class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960736" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_JFpmy42WiNM4InGra8kM1JXt.jpg"
                         alt="Dép MLB Logo New York Yankees ‘Black’">
                </a>
                <a href="/dep-mlb-logo-new-york-yankees-black-p37960736.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">15</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>

                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Dép MLB </span>
                <a href="/dep-mlb-logo-new-york-yankees-black-p37960736.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Dép MLB Logo New York Yankees ‘Black’ </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">1.299.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">1.100.000 ₫</span>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960648" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_wQZwSXqnF3ST5NvR7FlaQgKt.jpg">
            <div class="product-item__image position-relative">
                <a href="/tat-happy-socks-zebra-p37960648.html" class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960648" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_vBdluddzIkgbzH7sQe5zSSC5.jpg"
                         alt="Tất HAPPY SOCKS Zebra">
                </a>
                <a href="/tat-happy-socks-zebra-p37960648.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">30</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>

                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Tất</span>
                <a href="/tat-happy-socks-zebra-p37960648.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Tất HAPPY SOCKS Zebra </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">450.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">315.000 ₫</span>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960643" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_oNtYCDnzevUE71YUj7nXRXGC.jpg">
            <div class="product-item__image position-relative">
                <a href="/tat-happy-socks-faded-diamond-p37960643.html" class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960643" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_6gotfVFJaXihIBeZVenBgjWJ.jpg"
                         alt="Tất HAPPY SOCKS Faded Diamond">
                </a>
                <a href="/tat-happy-socks-faded-diamond-p37960643.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">30</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>

                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Tất</span>
                <a href="/tat-happy-socks-faded-diamond-p37960643.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Tất HAPPY SOCKS Faded Diamond </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">450.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">315.000 ₫</span>
                </p>
            </div>
        </div>
    </div>
    <div class="text-center pt-4">
        <a href="/san-pham?show=hot" class="d-inline-block font-weight-bold see-more">
            Xem tất cả <i class="fal fa-angle-right"></i>
        </a>
    </div>

    <div class="title-home">
        <h2 class="text-center position-relative m-0">
            <span class="d-inline-block text-uppercase font-weight-bold position-relative">JEANS</span>
        </h2>
    </div>
    <div class="row-pre new-product">
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960765" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_PxzDDh0nqljL3jZg1dK1NRhR.png">
            <div class="product-item__image position-relative">
                <a href="/mu-fear-of-god-essentials-rc-9fifty-cap-moonstruck-p37960765.html"
                   class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960765" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_dvWXYRWg1RNqs3sHUudkjuSk.png"
                         alt="Mũ Fear Of God Essentials RC 9Fifty Cap Moonstruck">
                </a>
                <a href="/mu-fear-of-god-essentials-rc-9fifty-cap-moonstruck-p37960765.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">30</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>

                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Mũ </span>
                <a href="/mu-fear-of-god-essentials-rc-9fifty-cap-moonstruck-p37960765.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Mũ Fear Of God Essentials RC 9Fifty Cap Moonstruck </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">1.250.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">875.000 ₫</span>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960736" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_wWdXVo7JZXEgsLyDYaljY3cm.jpg">
            <div class="product-item__image position-relative">
                <a href="/dep-mlb-logo-new-york-yankees-black-p37960736.html"
                   class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960736" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_JFpmy42WiNM4InGra8kM1JXt.jpg"
                         alt="Dép MLB Logo New York Yankees ‘Black’">
                </a>
                <a href="/dep-mlb-logo-new-york-yankees-black-p37960736.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">15</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>

                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Dép MLB </span>
                <a href="/dep-mlb-logo-new-york-yankees-black-p37960736.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Dép MLB Logo New York Yankees ‘Black’ </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">1.299.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">1.100.000 ₫</span>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960648" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_wQZwSXqnF3ST5NvR7FlaQgKt.jpg">
            <div class="product-item__image position-relative">
                <a href="/tat-happy-socks-zebra-p37960648.html" class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960648" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_vBdluddzIkgbzH7sQe5zSSC5.jpg"
                         alt="Tất HAPPY SOCKS Zebra">
                </a>
                <a href="/tat-happy-socks-zebra-p37960648.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">30</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>

                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Tất</span>
                <a href="/tat-happy-socks-zebra-p37960648.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Tất HAPPY SOCKS Zebra </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">450.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">315.000 ₫</span>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960643" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_oNtYCDnzevUE71YUj7nXRXGC.jpg">
            <div class="product-item__image position-relative">
                <a href="/tat-happy-socks-faded-diamond-p37960643.html" class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960643" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_6gotfVFJaXihIBeZVenBgjWJ.jpg"
                         alt="Tất HAPPY SOCKS Faded Diamond">
                </a>
                <a href="/tat-happy-socks-faded-diamond-p37960643.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">30</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>

                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Tất</span>
                <a href="/tat-happy-socks-faded-diamond-p37960643.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Tất HAPPY SOCKS Faded Diamond </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">450.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">315.000 ₫</span>
                </p>
            </div>
        </div>
    </div>
    <div class="text-center pt-4">
        <a href="/san-pham?show=hot" class="d-inline-block font-weight-bold see-more">
            Xem tất cả <i class="fal fa-angle-right"></i>
        </a>
    </div>

    <div class="title-home">
        <h2 class="text-center position-relative m-0">
            <span class="d-inline-block text-uppercase font-weight-bold position-relative">KAKI</span>
        </h2>
    </div>
    <div class="row-pre new-product">
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960765" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_PxzDDh0nqljL3jZg1dK1NRhR.png">
            <div class="product-item__image position-relative">
                <a href="/mu-fear-of-god-essentials-rc-9fifty-cap-moonstruck-p37960765.html"
                   class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960765" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_dvWXYRWg1RNqs3sHUudkjuSk.png"
                         alt="Mũ Fear Of God Essentials RC 9Fifty Cap Moonstruck">
                </a>
                <a href="/mu-fear-of-god-essentials-rc-9fifty-cap-moonstruck-p37960765.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">30</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>

                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Mũ </span>
                <a href="/mu-fear-of-god-essentials-rc-9fifty-cap-moonstruck-p37960765.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Mũ Fear Of God Essentials RC 9Fifty Cap Moonstruck </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">1.250.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">875.000 ₫</span>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960736" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_wWdXVo7JZXEgsLyDYaljY3cm.jpg">
            <div class="product-item__image position-relative">
                <a href="/dep-mlb-logo-new-york-yankees-black-p37960736.html"
                   class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960736" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_JFpmy42WiNM4InGra8kM1JXt.jpg"
                         alt="Dép MLB Logo New York Yankees ‘Black’">
                </a>
                <a href="/dep-mlb-logo-new-york-yankees-black-p37960736.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">15</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>

                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Dép MLB </span>
                <a href="/dep-mlb-logo-new-york-yankees-black-p37960736.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Dép MLB Logo New York Yankees ‘Black’ </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">1.299.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">1.100.000 ₫</span>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960648" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_wQZwSXqnF3ST5NvR7FlaQgKt.jpg">
            <div class="product-item__image position-relative">
                <a href="/tat-happy-socks-zebra-p37960648.html" class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960648" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_vBdluddzIkgbzH7sQe5zSSC5.jpg"
                         alt="Tất HAPPY SOCKS Zebra">
                </a>
                <a href="/tat-happy-socks-zebra-p37960648.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">30</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>

                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Tất</span>
                <a href="/tat-happy-socks-zebra-p37960648.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Tất HAPPY SOCKS Zebra </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">450.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">315.000 ₫</span>
                </p>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 product-item" data-id="37960643" data-storeId="116318"
             data-img="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_oNtYCDnzevUE71YUj7nXRXGC.jpg">
            <div class="product-item__image position-relative">
                <a href="/tat-happy-socks-faded-diamond-p37960643.html" class="d-block image-ab position-absolute">
                    <img class="lazyload productHover productHover37960643" data-sizes="auto"
                         src="https://web.nvnstatic.net/img/lazyLoading.gif?v=3"
                         data-src="https://pos.nvncdn.com/eb9ddb-116318/ps/20220323_6gotfVFJaXihIBeZVenBgjWJ.jpg"
                         alt="Tất HAPPY SOCKS Faded Diamond">
                </a>
                <a href="/tat-happy-socks-faded-diamond-p37960643.html"
                   class="cart-icon position-absolute d-inline-block text-center">
                    +
                </a>
                <div class="sale position-absolute text-center">
                    <p class="mb-0">
                        <span class="number-percent font-weight-bold d-inline-block">30</span>
                        <span class="percent">%</span>
                    </p>
                    <p class="m-0 text-uppercase sale-text">Giá sốc</p>

                </div>

                <a href="javascript:" class="wishlist  position-absolute">
                    <i class="fal fa-heart-circle"></i>
                </a>

            </div>
            <div class="product-item__infor text-center">
                <span class="d-block text-uppercase product-item_cate mt-2">Tất</span>
                <a href="/tat-happy-socks-faded-diamond-p37960643.html"
                   class="d-inline-block product-item__name tp_product_name">
                    Tất HAPPY SOCKS Faded Diamond </a>
                <p class="m-0">
                    <span class="d-inline-block oldPrice">450.000 ₫</span><span
                        class="d-inline-block price font-weight-bold tp_product_detail_priceprice-sale">315.000 ₫</span>
                </p>
            </div>
        </div>
    </div>
    <div class="text-center pt-4">
        <a href="/san-pham?show=hot" class="d-inline-block font-weight-bold see-more">
            Xem tất cả <i class="fal fa-angle-right"></i>
        </a>
    </div>

    <div class="homeProductCategory tp_product_category_box" style="display: none;"></div>
</div>
{% endblock %}