{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="vi-VN">

<head>
    <meta name="robots" content="noindex"/>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}

    {% endblock %}

    <meta name="keywords" content="">


    <meta property="og&#x3A;url" content="http&#x3A;&#x2F;&#x2F;">
    <meta name="google-site-verification" content="">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.4.3.1.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'css/fontAwesome/font-awesome-5.12.0.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'css/jqueryUI/jqui.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/validationEngine.jquery.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" type="text/css">

    <link rel="stylesheet" href="{%static 'css/style.css'%}" type="text/css">

    <script defer type="text/javascript" src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/lib.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/jquery/jquery.cookie.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/bootstrap/bootstrap.4.3.1.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/jquery/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/jquery/jquery.number.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/jquery/jquery.validationEngine.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/jquery/jquery.validationEngine-vi.js' %}"></script>

    <script defer type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <style type="text/css"></style>
    <style type="text/css">
        img {max-width: 100%;} img.lazyload{ opacity: 0.001; object-fit: scale-down !important; } .fb-customerchat>span>iframe.fb_customer_chat_bounce_out_v2 {max-height: 0 !important;}  .fb-customerchat>span>iframe.fb_customer_chat_bounce_in_v2{max-height: calc(100% - 80px) !important;}
    </style>
    <script src="{% static 'cache/location.vn.js' %}" defer></script>

    <script src="{% static 'js/lazyLoad/lazysizes.min.js '%}" async></script>
    <style>
        figure.image{clear: both;display: table;margin: .9em auto;min-width: 50px;text-align: center;width: auto !important;}
        figure.image img {display: block;margin: 0 auto;max-width: 100%;min-width: 100%;}
        figure.image>figcaption {background-color: #f7f7f7;caption-side: bottom;color: #333;display: block;font-size: .75em;outline-offset: -1px;padding: .6em;word-break: break-word;}
        figure.image img, img.image_resized {height: auto !important;aspect-ratio: auto !important;}
        top-header{background-color: #D6CEC1}
        content-footer tp_footer{background-color: #D6CEC1}
         .list-size a.selected {
            background-color: black; /* Selected background color */
            color: white; /* Selected text color */
            border-color: #007bff; /* Selected border color */
        }
    </style>
    <script src="{% static 'js/translate/vi-vn.js' %}" defer></script>
</head>

<body id="lama-theme" class="tp_background tp_text_color">
<input type="hidden" id="checkStoreId" value="116318">
<div id="wrapper">

    <header>
        <div class="header-content">
            <div id="top-bar" class="container-fluid">
                <p class="text-center text-uppercase font-weight-bold m-0">
                </p>
            </div>
            <div class="top-header d-flex align-items-center container-fluid" style="background-color: #D6CEC1">
                <div class="top-header__left d-flex align-items-center d-lg-block">
                    <div class="menu-bar d-lg-none">
                        <i class="far fa-bars"></i>
                    </div>
                    <div class="open-search_mb d-lg-none position-relative">
                        <a href="javascript:">
                            <i class="fas fa-search"></i>
                        </a>
                        <div class="position-absolute d-none">
                            <form action="{% url 'search_products' %}" method="get" class="d-flex form-group position-relative m-0"
                                  role="search">
                                <input type="text" name="q" placeholder="Tìm kiếm sản phẩm"
                                       class="button_gradient form-control py-0">
                                <button type="submit" class="btn p-0">
                                    <span class="fas fa-search"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <ul class="nav d-none d-lg-flex">
                        <li>
                            <a class="d-inline-block font-weight-bold text-uppercase">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>Số 10 Ngách 61 Ngõ 521 Trương Định Hai Bà Trưng, Hà Nội</span>
                            </a>
                        </li>
                       <!-- <li class="position-relative">
                            <a href="" class="d-inline-block font-weight-bold">
                                <i class="fas fa-phone-alt"></i>
                            </a>
                        </li>-->
                    </ul>
                </div>
                <div class="logo text-center" style=" width: 600px; margin: 0 30px;">
                    <a href="/" class="d-block">
                        <img src="{% static 'images/logo.png' %}"
                             alt="logo">
                    </a>
                </div>
                <div class="top-header__right">
                    <ul class="nav justify-content-end flex-lg-wrap flex-nowrap">
                        <!--<li>
                             <a href="/profile" class="d-inline-block text-center rounded-circle open-user">
                                 <i class="far fa-user"></i>
                             </a>
                         </li>-->
                        <li class="position-relative">
                            <a href="/cart"
                               class="d-inline-block position-relative text-center rounded-circle open-cart">
                                <i class="far fa-shopping-bag"></i>
                            </a>
                            <span class="count-cart position-absolute rounded-circle text-center font-weight-bold">{{ total_quantity }}</span>
                            <div class="cart-small">
                                <div class="cart-small__content">
                                    <h4 class="font-weight-bold text-uppercase cart-title position-relative text-center beforPre">
                                        giỏ hàng</h4>
                                    {% for item in cart %}
                                    <ul class="m-0 p-0">

                                        <li class="d-flex">
                                            <div class="img-item">
                                                <a href="/product/{{ item.slug }}"
                                                   class="d-block">
                                                    <img src="{{ item.image_url }}"
                                                         alt="{{ item.name }} - {{ item.size }}">
                                                </a>
                                            </div>
                                            <div class="infor-item">
                                                <a href="/product/{{ item.slug }}"
                                                   class="d-inline-block">{{ item.name }} - {{ item.size }}</a>
                                                <p class="m-0">
                                                    <span>{{ item.quantity }}</span> x
                                                    <span class="font-weight-bold price-item">

                                                        {{ item.price|intcomma  }} ₫

                                                    </span>
                                                </p>
                                            </div>
                                            <a href="javascript:"
                                               class="remove-cart1 rounded-circle d-inline-block text-center"
                                               cart_key="{{ item.cart_key }}" onclick="removeCartItem(this)">
                                                <i class="far fa-times"></i>
                                            </a>
                                        </li>

                                    </ul>
                                    {% endfor %}
                                    <p class="cart-small__total text-center font-weight-bold">
                                        <span>Tổng số phụ : </span>
                                        <span class="font-weight-bold"> {{ total_price|intcomma  }}₫</span>
                                    </p>
                                    <div class="cart-small__button">
                                        <a href="/cart" class="d-block font-weight-bold text-uppercase text-center">xem
                                            giỏ hàng</a>
                                        <a href="/cart/checkout"
                                           class="d-block font-weight-bold text-uppercase text-center">đặt hàng</a>
                                    </div>
                                </div>
                                <i class="fal fa-times position-absolute"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="container-fluid">
                <div class="bottom-header">
                    <div class="d-none d-lg-flex justify-content-center">
                        <ul class="nav menu-pc justify-content-center">
                            <!--<li class="lv1 cate_hover">
                               <a class="tp_menu_item nav-top-link d-inline-block  font-weight-bold position-relative" href="/accessories-pc570536.html" title="Accessories">SALES</a><i class="fas fa-caret-down"></i><ul class="wrap"><li class="lv2">
                                        <a class="tp_menu_item" href="/phu-kien-pc570539.html">Phụ kiện
                                        </a><i class="fas fa-caret-right"></i><ul class="sub-menu-2"><li class="lv3">
                                                   <a class="tp_menu_item" href = "/mu-pc570542.html" >Mũ
                                                   </a ></li ><li class="lv3">
                                                   <a class="tp_menu_item" href = "/dep-pc571346.html" >Dép
                                                   </a ><i class="fas fa-caret-right"></i><ul class="sub-menu-3"><li class="lv4"><a href = "/dep-nike-pc571349.html" >Dép Nike </a ></li><li class="lv4"><a href = "/dep-adidas-pc571350.html" >Dép Adidas </a ></li><li class="lv4"><a href = "/dep-mlb-pc571351.html" >Dép MLB </a ></li></ul></li ><li class="lv3">
                                                   <a class="tp_menu_item" href = "/tat-pc570543.html" >Tất
                                                   </a ></li ><li class="lv3">
                                                   <a class="tp_menu_item" href = "/kinh-pc570544.html" >Kính
                                                   </a ></li ></ul></li><li class="lv2">
                                        <a class="tp_menu_item" href="/balo-pc570538.html">Balo
                                        </a><i class="fas fa-caret-right"></i><ul class="sub-menu-2"><li class="lv3">
                                                   <a class="tp_menu_item" href = "/herschel-pc570540.html" >Herschel
                                                   </a ></li ></ul></li></ul></li>
                            <li class="lv1 cate_hover">
                                <a class="tp_menu_item nav-top-link d-inline-block  font-weight-bold position-relative" href="/giay-pc570537.html" title="Giày">Giày</a><i class="fas fa-caret-down"></i><ul class="wrap"><li class="lv2">
                                        <a class="tp_menu_item" href="/giay-puma-pc570895.html">Giày Puma
                                        </a><i class="fas fa-caret-right"></i><ul class="sub-menu-2"><li class="lv3">
                                                   <a class="tp_menu_item" href = "/puma-mule-pc570898.html" >Puma Mule
                                                   </a ></li ><li class="lv3">
                                                   <a class="tp_menu_item" href = "/puma-rs-pc570899.html" >Puma RS
                                                   </a ></li ></ul></li><li class="lv2">
                                        <a class="tp_menu_item" href="/giay-nike-pc570896.html">Giày Nike
                                        </a><i class="fas fa-caret-right"></i><ul class="sub-menu-2"><li class="lv3">
                                                   <a class="tp_menu_item" href = "/air-max-pc570900.html" >Air Max
                                                   </a ><i class="fas fa-caret-right"></i><ul class="sub-menu-3"><li class="lv4"><a href = "/air-max-1-pc570902.html" >Air Max 1 </a ></li><li class="lv4"><a href = "/air-max-90-pc570903.html" >Air Max 90 </a ></li></ul></li ><li class="lv3">
                                                   <a class="tp_menu_item" href = "/air-zoom-pc570901.html" >Air Zoom
                                                   </a ></li ></ul></li><li class="lv2">
                                        <a class="tp_menu_item" href="/giay-adidas-pc570897.html">Giày Adidas
                                        </a></li></ul></li>-->
                            <li class="lv1 cate_hover">
                                <a class="tp_menu_item nav-top-link d-inline-block  font-weight-bold position-relative"
                                   href="/category/best-seller" title="BEST SELLER">BEST SELLER</a></li>
                            <li class="lv1 cate_hover">
                                <a class="tp_menu_item nav-top-link d-inline-block  font-weight-bold position-relative"
                                   href="/category/new-realease" title="NEW RELEASES">NEW RELEASES</a></li>
                            <li class="lv1 cate_hover">
                                <a class="d-inline-block font-weight-bold position-relative tp_menu"
                                   href="/category/jeans" title="JEANS">JEANS</a></li>
                            <li class="lv1 cate_hover">
                                <a class="d-inline-block font-weight-bold position-relative tp_menu"
                                   href="/category/kaki" title="KAKI">KAKI</a></li>
                            <li class="lv1 cate_hover">
                                <a class="tp_menu_item nav-top-link d-inline-block  font-weight-bold position-relative"
                                   href="/category/sales/99999999" title="SALES">SALES</a>
                                <i class="fas fa-caret-down"></i>
                                <ul class="wrap">
                                    <li class="lv2">
                                        <a class="tp_menu_item" href="/category/sales/0.5"  title="50%">50%
                                        </a>
                                    </li>
                                    <li class="lv2">
                                        <a class="tp_menu_item" href="/category/sales/100000"  title="Dưới 100000 đ">Dưới 100,000 ₫
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="lv1 m-0 position-relative">
                                <form action="/search" method="get" class="d-flex form-group position-relative m-0"
                                      role="search">
                                    <input type="text" name="q" placeholder="Tìm kiếm sản phẩm"
                                           class="button_gradient form-control text-center py-0">
                                    <button type="submit" class="btn p-0">
                                        <span class="fas fa-search"></span>
                                    </button>
                                </form>

                                <div class="searchFolding position-absolute">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script defer type="text/javascript" src="{% static 'js/index.js' %}"></script>
    {% block content %}

    {% endblock %}

    <footer>
        <!--<div class="top-footer py-4">
            <div class="container-pre">
                <div class="row">
                    <div class="col-12 col-sm-6 d-flex align-items-center">
                        <h4 class="font-weight-bold text-uppercase m-sm-0">
                            Đăng kí nhận ưu đãi từ Sneakerhome </h4>
                    </div>
                    <div class="col-12 col-sm-6 d-flex align-items-center">
                        <input id="contactFormEmail" type="email" name="contact[email]" class=""
                               placeholder="Your Email(required)" required="">
                        <input type="button" class="text-uppercase font-weight-bold btn-dk" value="signup">
                    </div>
                </div>
            </div>
        </div>-->
        <div class="content-footer tp_footer" style="background-color: #D6CEC1">
            <div class="container-pre">
                <div class="row">
                    <div class="col-md-3 footer-col d-none d-md-block logo-footer text-center font-weight-bold text-uppercase position-relative title beforPre">
                        <a href="javascript:void(0);" class="d-inline-block">
                            <img class="lazyautosizes lazyloaded"  data-sizes="auto"
                                 src="{% static 'images/logo.png' %}"
                                 alt="CargoHaNoi">
                        </a>

                    </div>
                    <div class="col-md-3 col-6 footer-col font-weight-bold text-uppercase position-relative title beforPre">
                        <h5 class="font-weight-bold text-uppercase position-relative title beforPre"> thông tin liên
                            hệ</h5>
                        <div class="footer-col__content">
                            <p>Địa chỉ: Ngõ 521 Trương Định Hai Bà Trưng, Hà Nội</p>

                            <p>Email: </p>

                            <p>Hotline: </p></div>
                    </div>
                    <div class="col-md-2 col-6 footer-col font-weight-bold text-uppercase position-relative title beforPre">
                        <h5 class="font-weight-bold text-uppercase position-relative title beforPre">chính sách</h5>
                        <div class="footer-col__content">
                            <p><a href="/tra-cuu-don-hang/">Tra cứu đơn hàng</a></p>

                            <p>Hotline hỗ trợ đơn hàng: </p></div>
                    </div>
                    <div class="col-md-2 col-6 footer-col font-weight-bold text-uppercase position-relative title beforPre">
                        <h5 class="font-weight-bold text-uppercase position-relative title beforPre">hỗ trợ</h5>
                        <div class="footer-col__content">
                            <p><a href="">Tuyển dụng</a></p>

                            <p><a href="">Giới thiệu</a></p></div>
                    </div>
                    <div class="col-md-2 col-6 footer-col font-weight-bold text-uppercase position-relative title beforPre">
                        <h5 class="font-weight-bold text-uppercase position-relative title beforPre">mạng xã hội</h5>
                        <div class="footer-col__content">
                            <p><a href="https://www.facebook.com/Hanoiretro">Facebook</a></p>

                            <p><a href="">Instargram </a></p>

                            <p><a href="">Youtube</a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="box-background" class="position-fixed"></div>
    <div id="dialogMessage"></div>
    <!--    <input type="text" id="checkUser" value="0" hidden="">-->

    <input type="hidden" class="checkCookies" value=''>
    <div class="iconSocial messIcon">
        <a target="_blank" href="https://www.facebook.com/Hanoiretro">
<!--            <img src="https://web.nvnstatic.net/img/social/mess-color.svg?v=3" alt="mess">-->
        </a>
    </div>
    <!-- Menu mobile-->
    <div id="menu-mobile" class="d-lg-none position-fixed">
        <!--    <div class="abc">-->
        <div class="content-menu-mb d-inline-block position-fixed">
            <ul class="list-menu">
                <li class="searh-mobile mobile-lv1">
                    <form action="/search" method="get" class="form-group" role="search">
                        <input type="text" name="q" placeholder="Tên hoặc mã sản phẩm"
                               class="button_gradient form-control">
                        <button type="submit" class="btn">
                            <span class="fas fa-search"></span>
                        </button>
                    </form>
                </li>

                <li class="mobile-lv1 d-flex flex-wrap align-items-center">
                    <a class="font-weight-bold d-block text-uppercase tp_menu" href="/category/best-seller"
                       title="BEST SELLER">
                        BEST SELLER </a>
                </li>
                <li class="mobile-lv1 d-flex flex-wrap align-items-center">
                    <a class="font-weight-bold d-block text-uppercase tp_menu" href="/category/new-realease"
                       title="NEW RELEASE">
                        NEW RELEASE </a>
                </li>
                <li class="mobile-lv1 d-flex flex-wrap align-items-center">
                    <a class="font-weight-bold d-block text-uppercase tp_menu" href="/category/jeans" title="JEANS">
                        JEANS </a>
                </li>
                <li class="mobile-lv1 d-flex flex-wrap align-items-center">
                    <a class="font-weight-bold d-block text-uppercase tp_menu" href="/category/kaki" title="KAKI">
                        KAKI </a>
                </li>
                <li class="mobile-lv1 d-flex flex-wrap align-items-center">
                    <a class="font-weight-bold d-block text-uppercase tp_menu" href="/category/sales/9999999999999"
                       title="SALES">
                        SALES </a>
                    <i class="far fa-chevron-down text-center"></i>
                    <ul role="menu">
                        <li class="mobile-lv2">
                            <a class=" d-block" href="/category/sales/0.5" title="Giảm giá 50%">Giảm giá 50% </a>
                        </li>
                        <li class="mobile-lv2">
                            <a class=" d-block" href="/category/sales/100000" title="Dưới 100000 đ">Dưới 100,000 ₫ </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--    </div>-->
        <i class="fal fa-times position-absolute"></i>
    </div>
</div>

<script>
    function removeCartItem(input) {
    var cart_key = input.getAttribute('cart_key');
     var confirmation = confirm('Bạn có chắc chắn muốn xóa sản phẩm này khỏi giỏ hàng?');
//console.log(cart_key);  console.log(newQuantity) ;
 if (confirmation) {
    // Gửi yêu cầu Ajax
    $.ajax({
        url: '/cart/remove/',
        type: 'POST',
        data: {
            'cart_key': cart_key,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
            console.log('Cart remove successfully.');
             location.reload();
        },
        error: function(error) {
            console.log('Error remove cart.');
        }
    });
}else {
        console.log('User canceled the operation.');
        // Người dùng không đồng ý xóa, có thể xử lý hoặc không làm gì ở đây
        console.log(cart_key)
    }
    }
</script>
</body>

</html>